<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 main_header_left align-items-center">
                <figure class="errimg">
                    <img src="image/404.png" alt="cloud" class="img-fluid" title="cloud weather ">
                </figure>

                <p>Welcome to 404 Page</p>
                <h1>{{errorMsg}}</h1>
                <a href="/index"><button>Go Back</button></a>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>
</html>