<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-md-5 col-12 main_header_right align-items-center">
                <figure>
                    <img src="image/rajeshprofileimage.png" alt="rajesh image" class="img-fluid" title="cloud weather ">
                </figure>
            </div>
            <div class="col-md-5  col-12 main_header_left">
                <p>Welcome To My About Page</p>
                <h1 class="text_cl">I AM A <span class="text_clr">Mern Stack Developer</span> And I Am Fresher Student</h1>
                <a href="/about" class="btn" target="_blank" ><button>About Me</button></a>
            </div>
            <div class="col-1"></div>
        </div>
    </div>


    <!-- footer code -->
    {{>footer}}


</body>

</html>