<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto main_d">

                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>

                <div class="row">
                    <div class="col-md-4 col-12 tempInformation" id="tempInfoDiv">
                        <div class="top_layer">
                            <p id="date">Wed | oct 23 10:49AM</p>
                        </div>
                        <div class="main_layer">
                            <div>
                                <p id="city_name">Get Output Here</p>
                            </div>
                            <div class="middle_layer" class="row data_hide">
                                <div class="col-6">
                                    {{!-- <p id="temp" id="temp temp_real_val">0&deg;c</p> --}}
                                    <p id="temp"><span id="temp_real_val" class="zero">0</span><sup class="su">o</sup><span class="c">C</span></p>
                                </div>
                                <div class="col-6">
                                    <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}

    <script src="js/main.js" type="text/javascript"></script>


</body>

</html>