@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
    --hover-color: #2d3436;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0;
}

.main_menu {
    background-color: var(--main-color);
    height: auto;
}

#wea {
    color: black;
}

.navbar {
    background-color: var(--main-color);
    height: auto;
    padding: 1rem 0;
}

.navbar-nav,
ul {
    margin-left: 50rem;
}

.navbar-nav,
li {
    padding: 0 2rem;
}

.navbar a {
    font-size: 1.8rem;
    font-weight: 900;
    float: left !important;
    color: var(--hover-color);
}

.navbar a:hover {
    color: #fff;
}

.navbar-toggler {
    background: rgb(211, 195, 195);
}

.navbar-brand {
    color: var(--hover-color);
}

.fa-snowflake {
    transition: all linear;
    animation: rot 2s linear infinite;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* main header  About Us*/

.main_header_left {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_left p {
    font-size: 2rem;
}

.main_header_left h1 {
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.main_header_left .text_clr {
    color: var(--main-color);
}

.main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}

.main_header_left button button:hover {
    box-shadow: 0 8px 6px -6px var(--main-color);
}

.main_header_right {
    height: 80vh;
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_headerr_right fugure img {
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));
}

.img-fluid {
    width: 30rem;
    height: 30rem;
}


/* temp input feilds styles Weather Page*/

.temp_form {
    width: 60%;
    position: relative;
    margin: 5rem auto 6rem;
}

.temp_form input[type="text"] {
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
}

::placeholder {
    color: #bfc1c8;
}

.temp_form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
}

.temp_form input[type="submit"]:hover {
    color: #009ad8;
    background-color: #fff;
}


/* tempreture */

.main_d {
    height: 80vh;
}

.tempInformation {
    width: 60%;
    position: relative;
    margin: 5rem auto 6rem;
    margin-top: 2rem;
    min-height: 22rem;
    background-color: #323544;
    border-radius: 1rem;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
}

.top_layer {
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    border-radius: 1rem;
    color: #fff;
    font-weight: 300;
}

.main_layer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 10rem;
    background-color: #323544;
    font-family: 'Times New Roman', Times, serif !important;
}

.main_layer,
#city_name {
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 0 0 s1rem 0;
    padding: 1rem;
    text-align: center;
}

.main_layer,
.middle_layer {
    color: white;
}

.middle_layer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa-cloud {
    font-size: 5rem;
    color: #009ad8;
}

.zero {
    font-size: 3rem;
}

.su {
    font-size: 2rem;
}

.c {
    font-size: 3rem;
}

#date {
    font-size: 1.5rem;
    text-align: center !important;
}

.data_hide {
    visibility: hidden;
    transition: all 0.3s linear;
}


/* error page */

.errimg img {
    width: 50rem;
    height: 25rem;
}


/* footer style */

footer {
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    margin-top: auto;
}

footer p {
    margin: 0px;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size: 1.4rem;
}


/* responshive code */

@media(max-width: 768px) {
    .navbar {
        width: 100% !important;
    }
    .btn {
        margin: auto;
    }
    .main_header_left {
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .main_header_right {
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .img-fluid {
        height: 25rem;
    }
    .text_clr {
        font-size: 4rem;
    }
    .text_cl {
        font-size: 0.1rem;
    }
    .main_content {
        width: 100%;
        height: 20%;
    }
    .temp_form {
        width: 100%;
    }
    .temp_form input[type="text"] {
        width: 100%;
        padding: 2rem 5rem 2rem 2rem;
        font-size: 1.2rem;
    }
    .temp_form input[type="submit"] {
        width: 30%;
        height: 50%;
        top: 20px;
        right: 15px;
        bottom: 5px;
        padding: 0 1rem;
        font-size: 1.4rem;
        text-align: center;
    }
    .main_layer {
        width: auto;
    }
    .navbar-nav {
        margin-left: 4rem;
    }
}